= render_flash
.row-fluid
  .span15
    = f.input :name, input_html: { class: 'span' }, autofocus: true
  .span10
    = f.input :holidate, as: :datepicker, label: 'Holiday Date', input_html: { class: 'span38' }