# Docker build context is the elixir monorepo root (see deploy_to_linode/deploy.sh).

argus/
least_cost_feed/
orgmind/
peggy/
pou_con/
usbboot/

full_circle/_build/
full_circle/deps/
full_circle/cover/
full_circle/doc/
full_circle/test/
full_circle/tmp/
full_circle/.elixir_ls/
full_circle/.git/
full_circle/assets/node_modules/
full_circle/priv/static/assets/
full_circle/priv/static/cache_manifest.json
full_circle/uploads/
full_circle/seed_csv/
full_circle/seed_csv_old/
full_circle/livebook/
full_circle/deploy_to_linode/
full_circle/*.tar
full_circle/secret.txt
full_circle/deploy.conf

.global_assets/heroicons/.git/

.git/