<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script type="module" defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-green-50">
    <%= if @current_user do %>
      <div
        :if={@current_role != "punch_camera"}
        class="flex fixed top-0 z-10 w-full items-center justify-center text-white gap-4 bg-gray-800 py-2 px-5 shadow"
      >
        <div class="text-3xl font-bold cursor-default w-[70%]">
          {gettext("FullCircle")}
          <span :if={assigns[:current_company]} id="active-company" class="font-normal text-2xl">
            &#8226; {@current_company.name}
          </span>
        </div>

        <.link
          :if={assigns[:current_company]}
          id="full_circle_dashboard"
          patch={~p"/companies/#{@current_company.id}/dashboard"}
          class="rounded hover:bg-gray-400 p-2"
        >
          {gettext("Dashboard")}
        </.link>

        <ul>
          <li class="group relative" tabindex="-1">
            <button class="rounded-md hover:bg-gray-400 p-2">
              <.icon name="hero-bars-4" class="w-5 h-5" />
            </button>

            <div class="p-2 invisible absolute right-0 top-full transform opacity-0 transition-all duration-300 group-focus-within:visible group-focus-within:opacity-100">
              <ul class="mt-1 rounded-md border border-neutral-50 bg-gray-800 p-2 shadow backdrop-blur-sm">
                <li class="w-60 font-bold mb-2 text-blue-400 overflow-clip text-center">
                  {@current_user.email}

                  <div class="text-base font-normal text-amber-600">
                    {if assigns[:current_company], do: @current_role}
                  </div>
                </li>

                <li class="my-5">
                  <.link navigate={~p"/users/settings"} class="mb-2 p-3 hover:bg-emerald-400 flex">
                    {gettext("User Settings")}
                  </.link>
                </li>

                <li :if={@current_role != "punch_camera"} class="my-5">
                  <.link navigate={~p"/companies"} class="mb-2 p-3 hover:bg-emerald-400 flex">
                    {gettext("Companies")}
                  </.link>
                </li>

                <%= if @locale == "zh" do %>
                  <li class="my-5">
                    <.link href="?locale=en" class="mb-2 p-3 hover:bg-emerald-400 flex">
                      English
                    </.link>
                  </li>
                <% else %>
                  <li class="my-5">
                    <.link href="?locale=zh" class="mb-2 p-3 hover:bg-emerald-400 flex">
                      中文
                    </.link>
                  </li>
                <% end %>

                <li class="my-5">
                  <.link
                    href={~p"/users/log_out"}
                    method="delete"
                    class="p-3 hover:bg-rose-400 flex"
                  >
                    {gettext("Log out")}
                  </.link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    <% else %>
      <%= if assigns[:page_title] != gettext("Home") do %>
        <div class="mb-4">
          <img src="/images/stuff.png" alt="FullCircle Logo" class="mx-auto w-1/6 h-1/6" />
        </div>
        <h1 class="text-center font-bold text-2xl tracking-widest -mt-2">
          {gettext("FullCircle")}
        </h1>
        <h1 class="text-center text-xl tracking-tighter -mt-1">
          {gettext("Accounting & Payroll Software")}
        </h1>
        <div class="text-gray-400 text-center tracking-tighter">
          {gettext("Version")} {"0.1.1"}
        </div>
        <div class="text-green-600 text-center">
          <%= if @locale == "zh" do %>
            <.link href="?locale=en">
              Change Language to English
            </.link>
          <% else %>
            <.link href="?locale=zh">
              语言更改为中文
            </.link>
          <% end %>
        </div>
      <% end %>
    <% end %>
    {@inner_content}
  </body>
</html>
