@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 3;
}

.slow-hide {
  @apply opacity-0;
  @apply transition-opacity;
  @apply duration-1000;
}

button[disabled] {
  @apply bg-gray-200;
  @apply hover:bg-gray-200;
  @apply cursor-not-allowed;
}

.nav-btn {
  @apply text-xl;
  @apply text-center;
  @apply tracking-tighter;
  @apply rounded-md;
  @apply px-5;
  @apply py-2;
  @apply transition;
  @apply duration-500;
  @apply select-none;
  @apply bg-pink-300;
  @apply hover:bg-pink-500;
  @apply focus:bg-pink-500;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}